In [1]:
%run market_data.py

In [2]:
coin_id  = "ethereum"
currency = "usd" 
eth      = MarketData(coin_id,currency)

coin_ids = ["ethereum","matic-network","ripple","bitcoin","cardano","uniswap","sushi"]
prt      = MarketData(coin_ids,currency)

### Last Price

In [3]:
eth.px_last()

1700.64

In [4]:
prt.px_last()

{'bitcoin': 55043,
 'cardano': 1.2,
 'ethereum': 1700.64,
 'matic-network': 0.344061,
 'ripple': 0.560576,
 'sushi': 16.44,
 'uniswap': 29.07}

### All Market Data

In [5]:
eth.market_data()

         name  px_last   px_low  px_high  chg_24h       volume
eth  Ethereum  1700.64  1612.49  1723.93    86.42  23484046568

In [6]:
prt.market_data()

,name,px_last,px_low,px_high,chg_24h,volume
btc,Bitcoin,55043.000000,52466.000000,55663.000000,2522.730000,51225099019
ada,Cardano,1.200000,1.120000,1.270000,0.076787,5554303082
eth,Ethereum,1700.640000,1612.490000,1723.930000,86.440000,23462328285
matic,Polygon,0.344061,0.317864,0.345594,0.026128,264988948
xrp,XRP,0.560576,0.530135,0.569530,0.030019,4586393666
sushi,Sushi,16.440000,15.610000,17.010000,0.831306,525208749
uni,Uniswap,29.070000,26.740000,29.480000,2.330000,1068246411

### Historical Market Data

In [7]:
hist_eth = HistoricalMarketData(coin_id,currency,"2020-10-01","2021-03-25")
hist_prt = HistoricalMarketData(["sushi","uniswap","filecoin"],currency,"2020-10-01","2021-03-25")

In [8]:
hist_eth.all_data().tail()

               ethereum
                  price        volume    market_cap
2021-03-21  1817.860143  2.949547e+10  2.094557e+11
2021-03-22  1790.378075  2.922876e+10  2.060132e+11
2021-03-23  1686.891197  3.137673e+10  1.954347e+11
2021-03-24  1673.859184  2.875892e+10  1.923887e+11
2021-03-25  1581.631056  3.841371e+10  1.830050e+11

In [9]:
hist_prt.all_data().tail()

                filecoin                                  sushi             \
              market_cap      price        volume    market_cap      price
2021-03-21  4.884446e+09  82.601741  7.625194e+08  2.735140e+09  19.604168
2021-03-22  4.819290e+09  81.083549  5.748336e+08  2.635389e+09  18.883298
2021-03-23  4.603347e+09  76.589844  7.102010e+08  2.446362e+09  17.379907
2021-03-24  4.954574e+09  82.970626  1.144773e+09  2.295030e+09  16.532132
2021-03-25  5.239969e+09  86.019709  1.657491e+09  2.071251e+09  14.836673

                               uniswap
                  volume    market_cap      price        volume
2021-03-21  5.084458e+08  1.672588e+10  32.176987  1.060350e+09
2021-03-22  6.071078e+08  1.711496e+10  32.930356  7.160477e+08
2021-03-23  5.598666e+08  1.723868e+10  32.995234  1.381904e+09
2021-03-24  6.668843e+08  1.605538e+10  31.092702  1.860454e+09
2021-03-25  6.543348e+08  1.435105e+10  27.525931  1.384568e+09